@import "tailwindcss";

@theme {
  --color-scoot-yellow: #FCB72B;
  --color-scoot-dark: #495567;
  --color-scoot-grey: #939CAA;
  --color-scoot-light: #E5ECF4;
  --color-scoot-snow: #F2F5F9;
  --color-scoot-cream: #FFF4DF;
  --color-scoot-night: #333A44;

  --font-mono: "Space Mono", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-grotesk);
    color: var(--color-scoot-dark);
    @apply antialiased overflow-x-hidden;
    background-color: #FFFFFF;
  }
}

/* Custom decorative shapes */
.circle-bg {
  position: absolute;
  border-radius: 50%;
  background-color: #E5ECF4;
  z-index: -1;
}